@import "tailwindcss";

/* 
	This file is for global styles, and styling that should be shared across elements/components.
	For example, all h1 tags should look the same.
	All individual styling should be manage in the component with tailwind.
*/

@theme {
	--color-primary-blue: #335c67;
	--color-primary-accent: #fff3b0;
	--color-primary-red: #9e2a2b;
	--color-secondary-blue: #437889;
	--color-secondary-accent: #e09f3e;
	--color-secondary-red: #540b0e;
}

:root {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
	color: #f9f9f9;
	background-color: #202020;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	margin: 0 auto;
}

h1 {
	@apply uppercase leading-[1.1] text-lg font-semibold tracking-[1px] m-0;
}

@media (min-width: 768px) {
	/* Tablet styles */
	h1 {
		@apply text-2xl;
	}
}
@media (min-width: 1024px) {
	/* Desktop styles */
	h1 {
		@apply text-5xl;
	}

	header {
		@apply gap-x-4;
	}
}
