#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

#logo {
	max-width: 120px;
	transition: all 0.2s ease-out;
}

#logo:hover {
	transform: scale(1.25);
}

.flexBox {
	background-color: blueviolet;
	width: 100%;
	min-height: 40px;
	display: flex;
	flex-direction: column;
}

@media (min-width: 768px) {
	/* Tablet styles */

	#logo {
		max-width: 168px;
	}
}

@media (min-width: 1024px) {
	/* Desktop styles */

	#logo {
		max-width: 260px;
	}
}
