@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
	color: #f9f9f9;
	background-color: #202020;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--primary-colour: #335c67;
	--primary-accent: #fff3b0;
	--primary-red: #9e2a2b;
	--secondary-accent: #e09f3e;
	--secondary-red: #540b0e;
}

/* Layout Tag Styles */

header {
	width: 100%;
	display: flex;
	flex-direction: column;
}

body {
	margin: 0;
	display: flex;
	min-width: 320px;
	min-height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 4px;
}

footer {
	font-size: 12px;
	font-style: italic;
	opacity: 50%;
	position: fixed;
	bottom: 0;
	min-height: 2rem;
}

/* UI Tag Styles */

h1 {
	line-height: 1.1;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (min-width: 768px) {
	/* Tablet styles */
	h1 {
		font-size: 28px;
	}
}
@media (min-width: 1024px) {
	/* Desktop styles */
	h1 {
		font-size: 42px;
	}

	header {
		row-gap: 16px;
	}
}
